.nav{
  width: 100%;
  height: 60px;
  /*border-bottom: 1px solid rgba(255,255,255,0.2);*/
  position: fixed;
  padding-top: 2px;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* Rectangle 2: */
  background-image: linear-gradient(-270deg, #00AED7 2%, #9620FF 97%);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.50);
  /*background-color: rgba(255, 255, 255, 0.73);*/
}
.logoCon{
  height: 100%;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1.logo{
  font-weight: normal;
}
.logo{
  color: white;
  font-size: 1.5em;
  /*padding: .5em;*/
  margin: 0;
  /*font-weight: 700;*/
  /*border: 2px white solid;*/
}
.bold{
  font-weight: 700;
}
.menuSearch{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  height: 100%;
}
.menuSearch-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  height: 100%;
  margin-right: 2px;
  color: white;
  font-size: 1.1em;
  border: 2px solid white;
  cursor: pointer;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
.menuSearch-menu:hover{
  background-color: white;
  color: #cfc7f8;
}
.menuSearch-search{
  height: 100%;
  margin-right: 4px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
}
.menuSearch-search .searchButton{
  /*color: #cfc7f8;*/
  color: white;
  font-size: 1.5em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  cursor: pointer;
  /*background: white;*/
  background-color: transparent;
}
.menuSearch-search .searchButton:hover+.siteSearch, .siteSearch:hover, .siteSearch:focus{
  width: 200px;
}
.siteSearch{
  border: none;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  background: transparent;
  /*color: #cfc7f8;*/
  color: white;
  width: 0;
  background: white;
  background: transparent;
  /*width: inherit;*/
  /*text-align: center;*/
  /*border: 2px solid white;*/
  padding: 0 12px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.siteSearch::placeholder{
  /*color: #cfc7f8;*/
  color: white;
}
input.siteSearch:focus{
  /*color: #cfc7f8;*/
  /*width: 200px;*/
}
.bigPicture {
  height: 400px;
  background: url('../assets/backgroundblur.jpg') right top no-repeat;
  background-size: cover;
  /* The image used */

/* Set a specific height */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /*background-image: linear-gradient(45DEG, #d299c2 0%, #fef9d7 100%);*/
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.bigPicture-selector {
  width: 40%;
  /*margin-top: 60px;*/
  /*height: calc(550px - 60px);*/
  /*background-color: rgba(0, 0, 0, 0.43);*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

}
.bigPicture-generator {
  width: 40%;
  /*margin-top: 60px;*/
  /*height: calc(550px - 60px);*/
  /*background-color: rgba(0, 0, 0, 0.43);*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

}
.bigPicture-header{
  font-size: 32px;
  /*height: 200px;*/
  /*background: rgba(255,255,255,.3);*/
  text-align: center;
  /*letter-spacing: .2rem;*/
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1em;
  color: white;

}
.layer {
  background-color: rgba(255, 255, 255, 0.43);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.fslHeader{
  margin: 0 12px 0 12px;
  color: white;
  font-size: 24px;
  /*text-align: right;*/

}
.fslCon{
  height: 450px;
  padding: 12px;
  margin-top: 12px;
  border: 8px solid white;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.fslBG {
  background-image: linear-gradient(32DEG, #ebbba7 0%, #cfc7f8 100%);
  padding: 12px;
}
.fslSocial{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.fsl-social-i{
  height: 45px;
  width: 45px;
  color: white;
  font-size: 30px;
  cursor: pointer;

  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
.fsl-social-i:hover{
  color: #6987C9;
}
.fslContent{
  height: 100%;
  width: 100%;
}
.fslContent-header{
  margin: 0;
  text-align: center;
  color: white;
  letter-spacing: 3px;
  font-size: 32px;
  font-weight: normal;
  text-transform: lowercase;
  cursor: pointer;
}
.fslContent-header:hover{
  text-decoration: underline;
}
.fslImg{
  height: 100%;
}
.fa-inline{
  margin: 0 8px 0 0;
}

.fsl-daysCon{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}
.fsl-day{
  color: white;
  border: 3px solid white;
  width: 75px;
  height: 45px;
  cursor: pointer;

  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
.fsl-day:hover{
  background: white;
  color: #e1bfc5;
}
.fsl-day.active{
  background: white;
  color: #e1bfc5;
}
.fcc{
  display: flex;
  justify-content: center;
  align-items: center;
}
.otdCon{
  /*padding: 12px;*/
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  /*height: 300px;*/
  /*background-image: linear-gradient(135deg, #fbc2eb 0%, #a6c1ee 100%);*/
  /*background-image: linear-gradient( 135deg, #5EFCE8 10%, #736EFE 100%);*/
  /*background-image: linear-gradient( 135deg, #92FFC0 10%, #002661 100%);*/
  /*background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);*/
}
.artist-otd{
  margin-right: 6px;
  padding: 12px;
  /*border: 8px solid white;*/
  flex: 1;
  color: white;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.artist-otd-header, .playlist-otd-header{
  text-align: center;
  margin: 0;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 2px;
  font-size: 14px;
  letter-spacing: 5px;
  /*border-bottom: 4px white solid;*/
}
.artist-otd-name, .playlist-otd-name{
  text-align: center;
  width: 100%;
  margin: 0;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 8px;
  font-size: 32px;
  border-bottom: 4px white solid;
  cursor: pointer;
}
.artist-otd-image, .playlist-otd-image{
  margin: 12px 0;
}
.artist-otd-image{
  /*background-image: url('../assets/lcdsoundsystems.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;*/
  content: url('../assets/lcdsoundsystems.jpg');
  width: 100%;
  /*height: 350px;*/
}
.playlist-otd-image{
  content: url('../assets/flat.jpg');
  width: 100%;

}
.smalltext{
  font-size: 18px;
  /*vertical-align: center;*/
}
.playlist-otd{
  margin-left: 6px;
  padding: 12px;
  /*border: 8px solid white;*/
  flex: 1;
  color: white;


  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
